# **TUGAS AKHIR COURSE BASIC TEXT PROCESSING**

Link Dataset: https://www.kaggle.com/datasets/marklvl/sentiment-labelled-sentences-data-set

# Connect ke Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Import semua library yang dibutuhkan

In [ ]:
import re
from nltk.tokenize import word_tokenize
import pandas as pd

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
import nltk 
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

# Baca Data

In [ ]:
data_path1 = "/content/drive/My Drive/DATA/sentiment labelled sentences/sentiment_labelled_sentences/amazon_cells_labelled.txt"
amazon = pd.read_csv(data_path1,delimiter='\t',header=None, names=['sentence', 'class'])
amazon['source']='amazon'

data_path2 = "/content/drive/My Drive/DATA/sentiment labelled sentences/sentiment_labelled_sentences/yelp_labelled.txt"
yelp = pd.read_csv(data_path2,delimiter='\t',header=None, names=['sentence', 'class'])
yelp['source']='yelp'

data_path3 = "/content/drive/My Drive/DATA/sentiment labelled sentences/sentiment_labelled_sentences/imdb_labelled.txt"
imdb = pd.read_csv(data_path3,delimiter='\t',header=None, names=['sentence', 'class'])
imdb['source']='imdb'

In [ ]:
# menggabungkan data amazon, yelp, dan imdb menjadi 1 dataframe

data = pd.DataFrame()
data = pd.concat([amazon, yelp, imdb])
data['sentence'] = data['sentence'].astype(str)

data.head()

                                            sentence  class  source
0  So there is no way for me to plug it in here i...      0  amazon
1                        Good case, Excellent value.      1  amazon
2                             Great for the jawbone.      1  amazon
3  Tied to charger for conversations lasting more...      0  amazon
4                                  The mic is great.      1  amazon

In [ ]:
# memisahkan kolom kalimat dan kelasnya
sentence = data.iloc[:, 0].values
class_ = data.iloc[:, 1].values

hal ini dilakukan agar pada proses text processing, hanya terfokus pada bagian kolom yang berisi kalimat. pada bagian tersebut lah akan dilakukan case folding, stopword removal, stemming dll. sehingga perlu dipisahkan dengan kolom Class nya.

# TEXT PREPROCESSING

1. Case Folding dan Remove

In [ ]:
processed_sentence = []

for text in range(0, len(sentence)):
    # Remove semua special character dan tanda baca
    processed_txt = re.sub(r'[^\w\s]', ' ', str(sentence[text]))

    # remove semua karakter tunggal
    processed_txt= re.sub(r'\s+[a-zA-Z]\s+', ' ', processed_txt)

    # menggantikan spasi yang ter-double menjadi hanya 1 spasi
    processed_txt = re.sub(r'\s+', ' ', processed_txt, flags=re.I)

    # remove angka
    processed_txt = re.sub(r'\d+', ' ', processed_txt)

    # case folding / mengubah huruf ke lowercase
    processed_txt = processed_txt.lower()

    # hasil text preprocessing dimasukkan kedalam processed_sentence
    processed_sentence.append(processed_txt)

In [ ]:
# clean text tadi dibuat dataframe nya dan digabungkan dengan kelasnya

data_clean = pd.DataFrame(processed_sentence)
data_clean.columns = ['sentence']
data_clean['class'] = class_
data_clean.head()

                                            sentence  class
0  so there is no way for me to plug it in here i...      0
1                         good case excellent value       1
2                             great for the jawbone       1
3  tied to charger for conversations lasting more...      0
4                                  the mic is great       1

2. Stopwords Removal, Stemming, Lammatization

In [ ]:
# stopwords removal

stopword = nltk.corpus.stopwords.words('english')

def remove_stopwords(txt):
    txt = [word for word in txt if word not in stopword]
    return txt
    
data_clean = data_clean.apply(lambda x: remove_stopwords(x))

In [ ]:
# stemming

ps = nltk.PorterStemmer()

def stemming(txt):
    txt = [ps.stem(str(word)) for word in txt]
    return txt

data_clean = data_clean.apply(lambda x: stemming(x))

In [ ]:
# lammatization

wn = nltk.WordNetLemmatizer()

def lemmatizer(txt):
    txt = [wn.lemmatize(str(word)) for word in txt]
    return txt

data_clean = data_clean.apply(lambda x: lemmatizer(x))

# Hasil data yang sudah bersih (telah dilakukan text processing)

In [ ]:
data_clean.head(10)

                                            sentence class
0  so there is no way for me to plug it in here i...     0
1                         good case excellent value      1
2                             great for the jawbone      1
3  tied to charger for conversations lasting more...     0
4                                  the mic is great      1
5  i have to jiggle the plug to get it to line up...     0
6  if you have several dozen or several hundred c...     0
7          if you are razr owner you must have this      1
8                   needless to say wasted my money      0
9                      what waste of money and time      0

# Menyimpan data yang sudah bersih

In [ ]:
data_clean.to_csv(r'/content/drive/My Drive/DATA/sentiment_labelled_clean_data.csv', index=False)